{
  "branches": ["master", {name: 'beta', prerelease: true}, {name: 'alpha', prerelease: true}],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/release-notes-generator",
      {
          "linkCompare": false,
          "linkReferences": false
      }
    ],
    [
      "@semantic-release/gitlab",
      {
      }
    ],
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "assets": ["package.json"],
        "message": "chore(release): ${nextRelease.version} [lib-ci]"
      }
    ],
    [
        "semantic-release-telegram",
        {
            "chats": [ -779627620 ],
            "templates": {
              "success" : "A <b><i>{release_type}</i></b> version of <a href='{repository_url}'>{name}</a> has been released. Current version is <b>{version}</b>\nChangelog:\n{release_notes}"
            }
        }
    ]
  ]
}
